body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0B0C10;
  color: #fff;
}



.specialties {
  display: flex;
  justify-content: space-around;
  padding: 60px 20px;
  background-color: #141E30;
}

.specialties div {
  max-width: 300px;
  text-align: center;
}

.contact {
  text-align: center;
  padding: 80px 20px;
}
